* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ddd;
}

header .logo img {
    height: 40px;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.password-recovery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.links a {
    display: block;
    margin: 10px 0;
    color: #333;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

small {
    display: block; /* Make small elements a block to ensure they appear below */
    font-size: 14px; /* Set the font size for error messages */
    color: red; /* Change the text color to red for errors */
    margin-top: 5px; /* Space between the input and error message */
    margin-bottom: 5px;
}

.alert {
    text-align: center;
    color: rgb(128, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(128, 0, 0);
    border-radius: 5px;
    background-color: #f0fff0; /* Light green background */
}
